/* shared property*/

.primary-color{
    color:#4E47FF;
}
.btn{
    background-color: #4E47FF;
    color: white;
    border: none;
    padding: 0px 30px;
    border-radius: 5px;
    height: 48px;
    width: 120px;
}
.btn:hover{
    background-color: black;
}
/*hero section*/
header{
    background-image: url("assets/hero-bg.png");
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:50px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 160px;
    
}
.nav-title{
    font-size: 34px;
    font-weight: 900;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.hero{
    margin-left:265px ;
    margin-right:265px ;
    
    text-align: center;
    font-size: 45px;
}

.hero .btn{
    width:175px;
    margin-bottom: 125px;
    
}
/*action section*/
.actions{
    display: flex;
    margin-left: 140px;
    margin-right: 160px;
    gap:350px;
    margin-top: 140px;
    margin-bottom: 120px;
    

}

.action-title{
    font-size: 42px;
    color:#252432;
}
.action-description{
    color:rgba(37, 36,50, 0.5);
    font-size: 24px;
}
.actions .btn{
    padding:36px 12px 36px 12px;
    width: 225px;
    
}
.raleway-r {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.actions img{
    height: 330px;
    width: 405px;
    border-radius: 55px;
}
/* productive-member*/
.no-description{
    color:rgba(37, 36,50, 0.5);
    font-size: 25px;
}
.pro{
    display: flex;
    justify-content: space-evenly;

}
.productive{
    text-align: center;
    background-color:rgba(78,71,255,.1) ;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 70px;
}
.no span{
    font-size: 80px;
}
.pro-main{
    padding:50px 145px 50px 145px;
}
/* review*/
.review{
    text-align: center;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 14px;
}
.review h2{
    font-size: 40px;
}
.cards{
    display: flex;
    text-align: left;
    gap:20px;
    justify-content: space-evenly;
    


}
.section-card{
    height:245px;
    width:350px;
    padding:24px;
    box-shadow: 10px 10px 10px 10px rgb(221, 210, 210);
}
.identity{
    display: flex;
    align-items: center;
    gap:2px;
}
.round{
    height:40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("assets/avatar.png");
}
.section-card h4{
    font-size: 20px;
}
.name{
    color:rgba(37, 36, 50, 0.7);
}

.date{
    color:rgba(37, 36,50, 0.5);
}
/*focus-section*/
.focus{
    text-align: center;
    width:1140px;
    height:650px;
    padding:71px 150px 71px 150px;
    margin-bottom: 108px;
}

.focus .btn{
    display: block;
    margin: 0 auto;
    width: 195px;
}
.focus img{
    width: 840px;
    height: 360px;
    border-radius: 45px;
}
/*form*/
.form{
    display: flex;
    align-items: center;
    gap:80px;
    margin-left: 150px;
    margin-right: 150px;
    background-color:#d6dded ;
    padding:60px 15px 60px 15px;
    margin-bottom: 14px;
}
.form label,.form input,.form textarea{
    display: block;
}
.about-form{
    font-weight: bold;
    font-size: 98px;
}
.form input,.form textarea{
    padding:20px 20px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    
}
form .btn{
    width: 300px;
}
.form label{
    font-weight: 600px;
    font-size: 18px;
}
/*footer*/
footer{
    text-align: center;
    height: 220px;
    width: 520px;
    margin-left: 520px;
    margin-top: 130px;
    margin-bottom: 70px;
}
footer span{
    font-size: 100px;
    font-weight: bold;
}
.footer-div{
    display: flex;
    justify-content: space-evenly;
}
.footer-div a{
    text-decoration: none;
}